#lista {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 36px 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: -10px 0px 20px 0px rgba(0, 0, 0, 0.25);
    transition: right 500ms;
}

#lista.escondido {
    right: -350px;
}

#lista #botao-fechar-lista {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    border-radius: 999px;
    border: none;
    background-color: #87CEEB;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    transition: filter 500ms;
    cursor: pointer;
}

#lista #botao-fechar-lista:hover {
    filter: opacity(0.7);
}

#lista h2 {
    font-size: 20px;
    margin: 0 !important;
    color: black;
}

#lista ul {
    display: grid;
    margin: 0;
    gap: 16px;
    overflow-y: scroll;
}

#lista ul li {
    background-color: #CCE2EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 6px;
    align-items: center;
}

#lista ul li img {
    height: auto;
    max-height: 100px;
    width: 78px;
    object-fit: contain;
}

#lista ul li .informacoes {
    flex: 1;
}

#lista ul li .informacoes h2 {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

#lista ul li .informacoes p {
    margin: 0;
    font-size: 14px;
}

#lista ul li .informacoes h3 {
    font-weight: 700;
    margin: 0;
    font-size: 20px;
}

#lista ul li button {
    border-radius: 8px;
    border: none;
    background: #87CEEB;
    padding: 10px;
    cursor: pointer;
    transition: filter 500ms;
    font-size: 20px;
}

#lista ul li button:hover {
    filter: opacity(0.7);
}