.lista-card-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.lista-card-produtos img {
    margin-top: -1.4em;
    margin-right: 16em;
    object-fit: contain;
    width: 150px;
    height: 150px;
}

.lista-card-produtos div {
    margin-right: 2px;
    text-wrap: nowrap;
    margin-left: 7em;
    position: absolute;
    font-family: arial;
    font-weight: bold;
    text-align: center;
}

#produtos h2 {
    font-family: Arial, sans-serif !important;
    font-weight: bold !important;
    margin-left: 2em !important;
}

.lista-card-produtos li {
    line-height: 0;
    height: 0;
    border-style: solid;
    border-color: var(--light-color);
    border-width: 0 160px 100px 50px;
    padding: 32px 28px;
    background-color: var(--light-color);
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 33.9em;
    cursor: pointer;
    transition: background 500ms, box-shadow 500ms;
}

.lista-card-produtos li:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 12px;
}

.botao-produtos {
    color: white;
    position: absolute;
    width: 130px;
    height: 70px;
    margin-left: 31em;
    margin-top: 2em;
    background-color: var(--dark-color);
    border: none;
    border-radius: 10px;
    font-family: poppins, arial;
    font-weight: bold;
}

.cinza {
    color: #5d5d5d;
}

.comparacao {
    margin-left: 33em;
    position: absolute;
    margin-top: 8em;
    font-size: 14px;
}