.navbar.bg-dark {
    background-color: transparent !important;
}

header {
    background-color: #ADD8E6 !important;
}

.form-control.pesquisar {
    width: 160px !important;
    height: 32px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    padding-left: 3em;
    border: none;
}

.bi.bi-pencil-square {
    font-size: 25px;
    cursor: pointer;
}

.bi.bi-pencil-square:hover {
    color: #FFF;
    transition: 600ms;
}

.botao-lista {
    border: none;
    box-shadow: none;
    background-color: transparent;
    outline: none !important;
}

img {
    width: 50px;
    height: 50px;
}

img:hover {
    filter: brightness(1.5);
    transition: 700ms;
}

main {
    padding: 30px 0;
}