header .navbar.bg-dark {
    background-color: transparent !important;
}

header {
    background-color: #ADD8E6 !important;
}

header .container nav .logo-a {
    color: black;
    transition: 300ms;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    line-height: 16px;
    font-size: 16px;
}

header .container nav .logo-a:hover {
    filter: opacity(0.7);
}

header img {
    width: 50px;
    height: 50px;
}

header .form-control.pesquisar {
    width: 160px !important;
    height: 32px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    padding-left: 3em;
    border: none;
}

header .botao-lista {
    border: none;
    box-shadow: none;
    background-color: transparent;
    outline: none !important;
}

header .bi.bi-pencil-square {
    font-size: 25px;
    cursor: pointer;
}

header .bi.bi-pencil-square:hover {
    color: #FFF;
    transition: 600ms;
}


header .container .escolha-cidade {
    margin: 0;
}

header .container .escolha-cidade strong {
    text-decoration: underline;
    transition: filter 300ms;
    cursor: pointer;
}

header .container .escolha-cidade strong:hover {
    filter: opacity(0.7);
}

main {
    padding: 30px 0;
}

main .container.desativo {
    display: none;
}

footer {
    background-color: #ADD8E6;
    padding: 40px;
}

footer .container {
    text-align: center;
}

footer .container h2,
footer .container p {
    margin: 0;
}

footer .container .contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
}